/* Responsive Web Design (RWD)
Media Query 

*/
/* Desktop First => max-width*/
/* Mobile First => min-width */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query needed as it's the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Your styles here */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Your styles here */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* Your styles here */
    .nav-link {
        color: var(--bs-light);
    }

    .navbar-nav li a::before {
        content: "";
        height: 2px;
        width: 0;
        background-color: var(--bs-light);
        position: absolute;
        bottom: -4px;
        transition: all 0.2s ease-in-out;
    }


    /* Expand underline when hovering over a link */
    .navbar-nav li a:hover::before {
        width: calc(100% - (1rem *2));
        /* Full width underline on hover */
    }

    /* Nav bar hover color */
    .nav-link:active,
    .nav-link:focus,
    .nav-link:hover {
        color: var(--bs-light) !important;
    }

    html:not(html:has(:target)) li a[href="#landing"],
    html:has(.landing:target) li a[href="#landing"],
    html:has(.about:target) li a[href="#about"],
    html:has(.services:target) li a[href="#services"],
    html:has(.portfolio:target) li a[href="#portfolio"],
    html:has(.blog:target) li a[href="#blog"],
    html:has(.navbar:target) li a[href="#navbar"],
    html:has(.contact:target) li a[href="#contact"] {
        color: var(--bs-light) !important;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* Your styles here */
    .nav-link {
        color: var(--bs-light);
    }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* Your styles here */
    .nav-link {
        color: var(--bs-light);
    }
}