/* Responsive Web Design (RWD)
Media Query 

*/
/* Desktop First => max-width*/
/* Mobile First => min-width */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query needed as it's the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Your styles here */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Your styles here */




    .navbar-custom .navbar-nav,
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-toggler {
        margin-top: 1.5rem !important;
    }

    .home .header-custom-size{
    font-size: 2rem !important;
}

    .home .hello-custom {
    font-size: 3.5rem !important;

}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

        .navbar-custom .navbar-nav>li>a {
        padding: 0 1.3rem !important;
        position: relative;
        color: #fff !important;
        font-family: var(--secondary-font);
    }

    /* .navbar-custom .navbar-nav>li>a::before {
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--bs-light);
        position: absolute;
        bottom: 0;
        transition: width .3s ease-in-out;
    } */

    .nav-link.active::before {
        background-color: var(--bs-light);

    }

    /* .navbar-custom .navbar-nav>li>a:focus::before {
        width: 55%;
    }
    .navbar-custom .navbar-nav>li>a:hover::before {
        width: 55%;
    } */
    .home .header-custom-size{
    font-size: 3rem !important;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .home .header-custom-size{
    font-size: 4.5rem  !important;
}

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        width: 1200px !important;
    }

}

@media (max-width: 992px) {
.navbar .navbar-collapse.show {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: #fff;
  z-index: 999;
  padding: 2rem;
}
}